@page "/"
@using BlazorState.Shared;
@inject StateService Service

<h1>Blazor Health App: Inputs</h1>

Enter your information below.

<br style="clear: both" />

<HealthInputs />

<br style="clear: both" />

Your results:

<br style="clear: both" />
<HealthOutputs />

@code {
    protected override async Task OnInitializedAsync()
    {
        await Service.InitAsync();        
    }
}