@using BlazorState.ViewModel;
@inherits HealthModelBase

<div title="Target Heart Rate" class="tile">
    <h1>THR (50% &mdash; 85%)</h1>
    <h2>@Model.Thr.Low  &mdash; @Model.Thr.High BPM</h2>
</div>